body {
	background: black;
	font-family: sans-serif;
}

h1 {
	color: silver;
}

h2 {
	color: silver;
}

h3 {
	color: silver;
}


img {
	width: 500px;
	max-width: 100%;
	border: 1px solid silver;
	border-radius: 20px;
}