/* ========================================
   SPECIFIC STYLES FOR MEME GENERATOR
======================================== */

.meme {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
  }
  
  .meme-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .meme-text {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  
    width: 80%;
    margin: 0;
  
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
  
    text-shadow: 2px 2px 0 black;
  }
  
  button {
    background-color: white;
    font-family: inherit;
    font-size: 20px;
    padding: 10px 20px;
  }